*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(#537C8D, #243048);
    background-repeat: no-repeat;
    font-family: "MedievalSharp", cursive;
}

/* Header */

.site-header {
    background: url("/images/solitude-far3.jpg");
    background-color: #94B5C2;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    max-width: 100%;
    background-size: contain;
    height: 200px;
    font-size: .25rem;
    width: 100%;
}


/* .site-header {
        background-color: #94B5C2;
        background-repeat: repeat-x;
        width: 100%;
        height: 300px;
    }

    .title {
        background: #A4C0CB;
        border: 1.5px solid #243048;
        width: 35%;
        font-size: .8rem;
        color: #243048;
        padding: 0.25em .5em;
        margin-top: 0.4em;
        margin-bottom: auto;
    } */



.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-top: 1em; */
    /* margin-bottom: auto; */
    width: 75%;
    font-size: .8rem;
    color: #243048;
    /* padding: 0em 0em; */
    background: #A4C0CB;
    border: 1.5px solid #243048;
    /* width: 35%; */
    font-size: .8rem;
    color: #243048;
    padding: 0.25em .5em;
    margin-top: 1.5em;
    margin-bottom: auto;
}

.title h1 {
    font-size: .9rem;
}

.title select {
    width: 5em;
}

/* Main */


main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

#tour-guide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 3em;
    background: white;
    padding: 1em;
}

#tour-guide h2, p, img {
    padding: .5em;
}

#tour-guide img {
    width: 50%;
    display: block;
}

#bottom {
    margin: 3em;
    gap: 1em;
}

/* Article Card */

article {
    /* display: flex;
    flex-direction: column; */
    border-radius: 0.2em;
    background-color: #e5e5e5;
    height: 100%;
}

.article-header {
    width: 100%;
    padding: 1em;
}


/* Images */

article img {
    width: 100%;
    border-top-left-radius: .2em;
    border-top-right-radius: .2em;
    object-fit: cover;
}


/* Footer */

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #202020;
    color: white;
    margin-top: auto;
    margin-bottom: 0;
    padding: 1.5em;
    width: 100%;
    text-align: center;
    align-items: center;
}

footer h4 {
    padding-bottom: 0.5em;
}

footer p {
    padding-right: 2em;
}


/* Medium */

@media(min-width: 450px) and (max-width:869px) {
    /* main {
        grid-template-columns: 1fr 1fr / 1fr 1fr;
        grid-template-areas: 
            "1 2"
            "3 3";
    } */
    /* .title {
        background: #A4C0CB;
        border: 2px solid #243048;
    }
    .site-header {
        background-position: center center;
    }*/
    article {
        flex: 1 15em;
    }
    .site-header {
        background-color: #94B5C2;
        background-repeat: repeat-x;
        background-size: cover;
        width: 100%;
        height: 350px;
    }

    .title {
        background: #A4C0CB;
        border: 1.5px solid #243048;
        width: 50%;
        font-size: .8rem;
        color: #243048;
        padding: 0.25em 1em;
        margin-top: 0.3em;
        margin-bottom: auto;
    }
    main {
        margin: 1em 2em 2em 2em;
    }
}

/* Large */

@media(min-width: 870px) and (max-width: 7000px) {
    /* main {
        grid-template-columns: 1fr 1fr / repeat(5, 1fr);
        grid-template-areas: 
            ". 1 1 2 ."
            ". 3 3 2 .";
    } */
/* 
    .site-header {
        background: #94B5C2 url("/images/solitude-far2.jpg");
        background-position: center center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        max-width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        height: 400px;
    } */

    .site-header {
        background-color: #94B5C2;
        background-repeat: repeat-x;
        width: 100%;
        height: 300px;
    }

    .title {
        background: #A4C0CB;
        border: 1.5px solid #243048;
        width: 35%;
        font-size: .8rem;
        color: #243048;
        padding: 0.25em .5em;
        margin-top: 0.4em;
        margin-bottom: auto;
    }
    
    article {
        flex: 1 2;
    }

    main {
        padding: 2em;
    }
}



h1, h2, h3, h4, p, nav, li, ul {
    margin: 0;
    padding: 0;
}


/* Medium */

/* @media(min-width: 500px) {
    main {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "tg tg"
            "1 1"
            "2 2"
            "3 3";
    }
} */


/* Large */

/* @media(max-width: 870px) {
    main {
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas: 
            ". tg tg tg ."
            ". 1 1 2 ."
            ". 3 3 2 .";
    }
} */