*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(#537C8D, #243048);
    background-repeat: no-repeat;
    font-family: "MedievalSharp", cursive;
}

.title {
    display: flex;
    align-items: center;
    margin-bottom: auto;
    width: 100%;
    padding: 0 1em;

}

.logo {
    object-fit: cover;
    width: 34px;
    height: 34px;
}

nav {
    display: inline-block;
    margin-left: auto;
}

ul {
    list-style-type: none;
}

#tour-guide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    grid-area: tg;
}

#tour-guide img {
    width: 50%;
}

.article-one {
    grid-area: 1;
}

.article-two {
    grid-area: 2;
}

.article-three {
    grid-area: 3;
}

main {
    /* align-items: center; */
    margin: 1em;
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "tg"
        "1"
        "2"
        "3";
}



/* Medium */

@media(min-width: 500px) {
    main {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "tg tg"
            "1 1"
            "2 2"
            "3 3";
    }
}


/* Large */

@media(max-width: 870px) {
    main {
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas: 
            ". tg tg tg ."
            ". 1 1 2 ."
            ". 3 3 2 .";
    }
}


/* Article Card */

article {
    /* display: flex;
    flex-direction: column; */
    border-radius: 0.2em;
    background-color: #e5e5e5;
    height: 100%;
}

.article-header {
    width: 100%;
    padding: 1em;
}


/* Images */

article img {
    width: 100%;
    border-top-left-radius: .2em;
    border-top-right-radius: .2em;
    object-fit: cover;
}


/* Footer */

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #202020;
    color: white;
}