*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(#537C8D, #243048);
    background-repeat: no-repeat;
}

.title {
    display: flex;
    align-items: center;
    margin-bottom: auto;
    width: 100%;
    padding: 0 1em;

}

.logo {
    object-fit: cover;
    width: 34px;
    height: 34px;
}

nav {
    display: inline-block;
    margin-left: auto;
}

ul {
    list-style-type: none;
}