*, *::before, *::after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background: linear-gradient(#537C8D, #243048);
    background-repeat: no-repeat;
    font-family: "MedievalSharp", cursive;
    height: 100vh;
}

/* Header */

.site-header {
    background: url("/images/solitude-far3.jpg");
    background-color: #94B5C2;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    max-width: 100%;
    background-size: contain;
    height: 200px;
    font-size: .25rem;
    width: 100%;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-top: 1em; */
    /* margin-bottom: auto; */
    width: 75%;
    font-size: .8rem;
    color: #243048;
    /* padding: 0em 0em; */
    background: #A4C0CB;
    border: 1.5px solid #243048;
    /* width: 35%; */
    padding: 0.25em .5em;
    margin-top: .5em;
    margin-bottom: auto;
}

.title h1 {
    font-size: .9rem;
}

select {
    appearance: base-select;
    padding: 0.5em;
}

.header-text {
    text-align: left;
    /* margin-top: 1em; */
    /* margin-bottom: auto; */
    width: 90%;
    color: #243048;
    /* padding: 0em 0em; */
    background: #A4C0CB;
    border: 1.5px solid #243048;
    border-radius: 5px;
    /* width: 35%; */
    margin-top: auto;
    margin-bottom: 0.5em;
    font-size: .5rem;
    padding: 0.25em 0em 0.25em .25em;
}

.header-text h2, p {
    padding-top: .5em;
    padding-bottom: .5em;
    font-size: 1em;
}
/* select::picker-icon {

} */

/* .title nav {
    font-size: .6rem;
}

.title a {
    text-decoration: none;
    color: #243048;
} */

.title p {
    font-size: 1.5rem;
}

nav {
    margin-left: auto;
}

ul {
    list-style-type: none;
}


/* Main */

/* .article-one {
    grid-area: 1;
}

.article-two {
    grid-area: 2;
}

.article-three {
    grid-area: 3;
} */

/* main {
    margin: 1em;
    display: grid;
    gap: 1em;
    grid-template-columns: 3fr / 1fr;
    grid-template-areas: 
        "1"
        "2"
        "3";
    width: 100%;
} */

main {
    display: flex;
    padding: 1em;
    gap: 1em;
    flex-wrap: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
}


/* Article Card */

article {
    display: flex;
    border-radius: 0.2em;
    background-color: #e5e5e5;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}

article h3 {
    padding: 0 0 .75em 0;
    font-size: 1.5em;
}

.article-header {
    font-size: .7rem;
    width: 100%;
    padding: 0 1em;
    line-height: 1em;
    align-items: center;
}

article p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

article img {
    display: block;
    width: 100%;
    border-top-left-radius: .2em;
    border-top-right-radius: .2em;
    object-fit: cover;
    align-self: flex-start;
    height: 60%;
}


/* Footer */

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #202020;
    color: white;
    margin-top: auto;
    margin-bottom: 0;
    padding: 1.5em;
    width: 100%;
    text-align: center;
    align-items: center;
}

footer h4 {
    padding-bottom: 0.5em;
}

footer p {
    padding-right: 2em;
}




/* Media Queries */


/* Medium */

@media(min-width: 450px) and (max-width:869px) {
    /* main {
        grid-template-columns: 1fr 1fr / 1fr 1fr;
        grid-template-areas: 
            "1 2"
            "3 3";
    } */
    /* .title {
        background: #A4C0CB;
        border: 2px solid #243048;
    }
    .site-header {
        background-position: center center;
    }*/
    article {
        flex: 1 15em;
    }
    .site-header {
        background-color: #94B5C2;
        background-repeat: repeat-x;
        background-size: cover;
        width: 100%;
        height: 350px;
    }

    .title {
        background: #A4C0CB;
        border: 1.5px solid #243048;
        width: 50%;
        font-size: .8rem;
        color: #243048;
        padding: 0.25em 1em;
        margin-top: 0.3em;
        margin-bottom: auto;
    }
    main {
        margin: 1em 2em 2em 2em;
    }
    .header-text h2, p {
        padding: .25em;
        font-size: 1em;
    }
}

/* Large */

@media(min-width: 870px) and (max-width: 7000px) {
    /* main {
        grid-template-columns: 1fr 1fr / repeat(5, 1fr);
        grid-template-areas: 
            ". 1 1 2 ."
            ". 3 3 2 .";
    } */
/* 
    .site-header {
        background: #94B5C2 url("/images/solitude-far2.jpg");
        background-position: center center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        max-width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        height: 400px;
    } */

    .site-header {
        background-color: #94B5C2;
        background-repeat: repeat-x;
        width: 100%;
        height: 300px;
    }

    .title {
        background: #A4C0CB;
        border: 1.5px solid #243048;
        width: 35%;
        font-size: .8rem;
        color: #243048;
        padding: 0.25em .5em;
        margin-top: 0.4em;
        margin-bottom: auto;
    }
    
    article {
        flex: 1 2;
    }

    main {
        padding: 2em;
    }
}



h1, h2, h3, h4, p, nav, li, ul {
    margin: 0;
    padding: 0;
}